/*This css file for line reduction */

@import url(https://fonts.googleapis.com/css?family=Nunito:200,400,600,700&display=swap);

/*Experience our servicess section*/

.experience-our-services{
    height: auto;
    padding: 30px 30px 0px 0px;
    background-color: #F2F4F5;
    font-weight: 300;
}
.experience-our-services h4{
    font-size: 34px;
    color: #000000;
    margin: 0px 70px 0px 20px;
    padding-right: 550px;
    font-weight: 600;
}
.service-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    margin: 35px 119.2px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.service p{
    color: rgb(18, 18, 18);
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.service .payment-bank-img{
    background-color: rgb(189, 181, 181);
    border-radius: 50%;
    color: #fff;
    filter: grayscale(1) invert(1);
}
.service .airtel-black{
    width: 50px;
}
.service{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    height: 100%;
    padding:20px 0px 0px 0px;
    border-radius: 5px;
    transition: transform 0.1s ease;
}
.service:hover{
    cursor: pointer;
    transform: scale(1.05 ,1.05);
}
.service img{
    width: 30px;
    margin-left: 15px;
}

/* Airtel Black section */


.airtel-black-section{
    background-color: #101010;
}
.airtel-black-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
}

/*Left division*/

.airtel-black-content .left-content{
    padding-left: 100px;
}
.airtel-black-content .left-content img{
    width: 118px;
    height: 48px;
}
.airtel-black-content .left-content h3{
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    line-height: 1.3;
    padding-top: 60px;
}
.airtel-black-content .left-content h3 span{
    font-weight: bold;
}
.airtel-black-content .left-content p{
    color: #8d8686;
    font-weight: 500;
    padding-top: 30px;
}
.airtel-black-content .left-content button{
    margin-top: 50px;
    padding: 21.5px 70px;
    border-radius: 40px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#650202), color-stop(40%,#6d0808), color-stop(100%,#450101));
    color: #FFFFFF;
    border: none;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
}


/*right content*/

.airtel-black-content .right-content img{
    padding-top:50px;
    position: relative;
    top: 9px;
}


/*Postpaid-section*/


.postpaid-section{
    background-color: #fff;
}

.postpaid-section .postpaid-article{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.postpaid-article .postpaid-left-content{
    padding: 20px;
    margin-left: 70px;
}
.postpaid-left-content h6{
    font-size: 1.2em;
    color: black;
    font-weight:500;
    padding-top: 25px;
}
.postpaid-left-content h6 span{
    border-bottom: 4px solid rgb(209, 5, 5);
    border-radius: 2.1px;
}
.postpaid-left-content h2{
    color: black;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.postpaid-left-content h2 span{
    color: red;
}
.postpaid-left-content p{
    padding: 5px 0px 0px 0px;
    font-weight: 600;
    font-size: 18px;
}
.postpaid-left-content .choose{
    font-size: 0.9em;
    font-weight: 400;
    padding-top: 40px;

}
.postpaid-left-content h4{
    font-size: 24px;
    padding-top: 20px;
    text-align: left;
    font-weight: 500;
}
.postpaid-left-content .postpaid-plans{
    display: flex;
    padding-top: 30px;
}
.postpaid-plans > div{
    transition: transform 0.1s ease;
}
.postpaid-plans > div:hover{
    transform: scale(1.04,1.04);
    cursor: pointer;
}

.postpaid-left-content .postpaid-plans .nine-nine-nine{
    padding: 10px 30px;
}
.postpaid-plans p{
    font-size: 0.7em;
    font-weight: 400;
}
.postpaid-plans h3{
    font-size: 34px;
    font-weight: 500;
    color: #393939;
}
.postpaid-plans h4{
    color: red;
    font-size: 18px;
}
.postpaid-left-content .postpaid-plans .four-nine-nine{
    padding: 15px 30px;
    margin-left: 20px;
    align-items: center;
}
.postpaid-left-content .postpaid-plans .view-more{
    padding: 10px 30px;
    margin-left: 20px;
}
.view-more h4{
    padding-top: 50px;
    font-weight: 600;
}
.postpaid-left-content .postpaid-plans .view-more img{
   width:25px;
}

.postpaid-article .postpaid-right-content img{
    position: relative;
    top: 9px;
    padding-right: 100px;
    padding-top: 70px;
}

/*Port to Airtel section*/

.section-port-airtel{
    background-image: linear-gradient(100deg, #b00, #8d0000),
    linear-gradient(100deg, #8aaebb, #89adba);
}
.section-port-airtel .port-airtel-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.port-airtel-content .port-content-left .image-div{
   max-width: 500px;
   max-height: 800px;
   align-items: center;
   margin-left: 100px;
   background-color: #fff;
   margin-top: 30px;
   margin-bottom: 30px;
}
.port-airtel-content .port-content-left img{
    border: 2px solid red;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px;
    z-index: 1;
    margin: 10px 10px 5px 10px;
}

/*right*/

.port-content-right{
    margin-left: 211px;
    color: #FFFFFF;
}
.port-content-right h4{
    padding-top: 100px;
    text-align: left;
    font-size: 1.3em;
    font-weight: 400;
}
.port-content-right h4 span{
    border-bottom: 4px solid #fff;
    border-radius: 2px;
}
.port-content-right h2{
    padding-top: 35px;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
}
.port-content-right button{
    padding:14px 20px ;
    margin-top: 0px 0px 20px;
    color: red;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.5s ease;
}
.port-content-right button:hover{
    background-color: rgb(220, 0, 0);
    color: #fff;
}

/*Xstream Section*/


.section-xstream{
    padding-top: 35px;
    background-color: rgb(255, 255, 255);
}

.xstream-main{
    text-align: center;
    padding-top: 0px;
    box-shadow: 12px 12px 1px rgba(0,0,0,0.1);
    
}

.xstream-main img{
    padding-left: px;
}
.xstream-main h2{
    font-size: 34px;
    font-weight: 600;
}
.xstream-sub-main{
    margin-top: 5px;
    display: flex;
    background-color:#fff;
    padding: 0px 90px;
}
.xstream-cards{
    margin: 6px;
    padding: 12px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 130px;
    left: 80px;
    box-shadow: 1px 2px 20px rgba(0,0,0,0.2);
    
}
.xstream-cards p{
    font-size: 14px;
}
.xstream-cards button{
    padding:14px 24px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}
.xstream-cards button p{
    font-size: 14px;
    padding: 0px 80px;
}
.xstream-cards button:hover{
    background-color: #393939;
}

/*Unlimited Internet section*/

.unlimited-section{
    background-image: linear-gradient(100deg, #b00, #8d0000),
    linear-gradient(100deg, #8aaebb, #89adba);
}
.unlimited-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    margin-left: 100px;
    margin-right: 100px;
}
.unlimited-left-content{
    margin-top: 40px;
    
    padding-top: 50px;
}
.unlimited-left-content h6 {
    font-size: 24px;
}
.unlimited-left-content h6 span{
    border-bottom: 4px solid #fff;
    border-radius: 2px;
}
.unlimited-left-content h2{
    font-size: 34px;
    padding-top: 40px;
}
.unlimited-left-content p{
    font-size: 18px;
}
.unlimited-left-content button{
    padding: 14px 24px;
    color: red;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}
.unlimited-left-content button:hover{
    background-color: rgb(226, 12, 12);
    color: white;
}
.unlimited-left-content .iuc{
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.unlimited-right-content img{
    position: relative;
    top: 50px;
}

/*sECTION WYNK */

.section-wynk{
    background-color: #cabdb3;
}
.wynk-article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px;
}
.right-wynk-content{
    
}
.right-wynk-content h3{
    font-size: 22px;
    font-weight: 400;
}
.right-wynk-content h4{
    font-size: 34px;
    font-weight: 500;
    padding-top: 30px;
    text-align: left;
}
.right-wynk-content p{
    font-size: 18px;
    padding: 10px 0px;
}
.right-wynk-content button{
    padding: 14px 24px;
}