@import url(https://fonts.googleapis.com/css?family=Nunito:200,400,600,700&display=swap);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito',sans-serif;
    color:#393939;
    line-height: 1.6;
    background-color:#fff;
}

/*upper head */


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}
.navbar{
    position: sticky;
    top: 0px;
}
.navbar{
    background-color:#f5F5F5;
    color: #333;
    height:25px;
    text-align: center;
    line-height: 20px;
}

.navbar ul{
    justify-content:flex-end; 
    margin-left: 700px;
}
.navbar a{
    font-size: 10px;
    padding:0 10px;
    font: weight 300;
    color: rgb(81, 79, 79);
}
.navbar a:hover{
    color: black;
    font-weight: bolder;
}
.personal{
    font-size: 11px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/*Navbar Main */

.navbar-main{
    position: fixed;
    top: 22px;
    right: 1px;
    left: 1px;
    box-shadow: 5px 2px 0 rgba(0,0,0,0.2);
}
.navbar-main .flex{
    height: 67.2px;
    background-color:#fff;
    justify-content: space-around;
}

.navbar-main nav,ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-main a{
    font-size: 14px;
    font-weight: bold;
    padding:0 10px;
}

.navbar-main .airtel-red{
    padding-top: 10px;
    padding-right: 10px;
    width: 110px;
}
.nav-icons > div,h4{
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    line-height: .93;
}
.nav-icons > div{
    align-items: center;
    padding: 7px;
}




/*Hoverable dropdown on elements*/


.dropdown:hover .dropdown-content{ 
    display: block;
}

.dropdown ul{
    flex-wrap: wrap;
    justify-content: start;
}
.dropdown-content li{
    width: 230px;
    font-size: 14px;
    font-family: 'Nunito',sans-serif;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    cursor: pointer;
}
.dropdown-content li:hover{
    background-color: rgba(158, 148, 148, 0.2);
    color: red;
}

.prepaid-div-navbar-main{
    height: 67.2px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.prepaid-div-navbar-main:hover{
    border-bottom: 3px solid red;
}
.prepaid-div-navbar-main:hover a{
    color: red;
}

/*Hoverable drop down*/

.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-content{
    display: none;
    position: absolute;
    left: -20px; ;
    background-color:#fff;
    min-width: 220px;
    box-shadow: 5px 10px 20px  rgba(0,0,0,0.4);
    align-items: center;
    z-index: 1;
    animation: slideInFromBottom 0.2s ease;
}


/*Sliding Banner*/

.slider{
    border-top: 2px solid #333;
    background-color:#fff;
    position: relative;
    z-index: -1;
    height:100%;
    align-items: center;
    overflow: hidden;
}
.slider figure{
    display: flex;
    margin: 0;
    left: 0;
    animation: leftSlider 15s infinite ease-out;
    height: 100%;
}
.slider figure img{
    width: 1600px;
    height: 400px;
    padding-top: 50px;
}

/*After slide*/

.after-slider{
    display: flex;
    background-color: rgb(157, 9, 9);
    color: #fff;
    height: 165px;
    align-items: center;
}
.recharge-headding h4{
    font-size: 24px;
    padding: 10px 0px 0px;
    text-align: left;
}
.recharge-headding p{
    font-size: 18px;
    padding: 10px 0px 0px;
}

.recharge-right{
    padding-left: 400px;
    justify-content: end;
    position: relative;
    top: 2px;
    right: 30px;
}
.recharge-right ul{
    list-style-type: none;
   align-items: center;
   margin-bottom: 20px;
}
.recharge-right ul > div{
    display: flex;
    border: 1px solid black;
    height: 40px;
    width: auto;
    padding: 10px 20px;
    margin-right: 15px;
    align-items: center;
}
.recharge-right img{
    width: 20px;
}
.recharge-right ul li{
    display: flex;
    font-size: 10px;
    align-items: center;
}

.form{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-right: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.form input{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}
.form input:focus{
    outline: none;
}
.form button{
    height: 30px;
    padding:0px 20px;
    align-items: center;
    margin: 8px 6px;
    border-radius: 6px;
    background-color: rgb(157, 9, 9);
    color: #fff;
}


/* Hoverable dropdown animation*/

@keyframes slideInFromBottom{
    0%{
      transform: translateY(10%);
    }
    100%{
      transform: translateY(0%);
    }
  }


/*Slider Animation*/

@keyframes leftSlider{

    0%{
        transform: translateX(-20%);
    }
    10%{
        transform: translateX(-20%);
    }
    20%{
        transform: translateX(-135%);
    }
    40%{
        transform: translateX(-135%);
    }
    50%{
        transform: translateX(-260%);
    }
    60%{
        transform: translateX(-260%);
    }
    70%{
        transform: translateX(-390%);
    }
    80%{
        transform: translateX(-390%);
    }
    90%{
        transform: translateX(-520%);
    }
    95%{
        transform: translateX(-520%);
    }
    100%{
        transform: translateX(-20%);
    }
    
}