@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;
}

/*upper head */


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

.navbar{
    background-color: rgb(245, 245, 245);
    color: #333;
    height:25px;
    position: sticky;
    text-align: center;
    line-height: 20px;
}

.navbar ul{
    justify-content:flex-end; 
    margin-left: 700px;
}
a{
    font-size: 10px;
    padding:0 10px;
    font-weight:bold;
    color: rgb(81, 79, 79);
}
a:hover{
    color: black;
    font-weight: bolder;
    font-size: 11px;
}
.personal{
    font-size: 11px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/*Navbar Main */

.navbar-main .flex{
    height: 55px;
    background-color:#fff;
    justify-content: space-around;
}

.navbar-main nav,ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-main a{
    font-size: 14px;
}

.navbar-main .airtel-red{
    width: 90px;
}
