.text-size{
    font-size: 25px;
}

.card{
    background-color: #ffffff;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.1);
    color: #333;
    min-width: 160px;
    z-index: 1;
    border-radius: 1px;
}


.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

.flex{
    flex-wrap: wrap;
    display: flex;
    align-items:center;
    height: 100%;
}
