.text-size{
    font-size: 25px;
}

.card{
    background-color: bisque;
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.5);
    color: #333;
    min-width: 160px;
    z-index: 1;
}


.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

.flex{
    display: flex;
    align-items:center;
    height: 100%;
}
